---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Routemap.dev">
	<div class="page">
		<div class="header-container">
			<h1>Routemap.dev</h1>
			<h3>Reimagining productivity tools.</h3>
		</div>
		<main>
			<section>
				<h1>Personal Productivity</h1>
				<div class="cards">
					<Card
						title="Plane"
					>
						<p>Plane sorts your todos by urgency and importance, and helps you manage your priorities no matter what you do.</p>
						<p class="sub">Coming late 2022.</p>
					</Card>
				</div>
			</section>
			<section>
				<h1>Team Productivity</h1>
				<div class="cards">
					<Card
						title="Routemap"
					>
						<p>Timeline-based project planning board that redefines the collaborative experience.</p>
						<p class="sub">Coming in 2023.</p>
					</Card>
					<Card
						title="Time2gather"
						link="/time2gather/"
					>
						<p>A simple tool for a simple purpose: finding the best meeting time. Inspired by when2meet.</p>
						<p class="sub">Available now, free forever.</p>
					</Card>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    width: 80vw;
  }

  .header-container {
    padding: 1.5rem 10vw;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground);
		color: var(--background);

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    h3 {
      color: var(--light-foreground);
    }
  }

	section {
		margin-bottom: 2rem;
	}

	.cards {
		display: flex;
		gap: 2rem;
	}

	p {
		margin: 0;
	}

	.sub {
		color: var(--light-foreground);
		margin-top: 0.5rem;
	}
</style>
